# GLPI OAuth 2.1 Configuration
OAUTH_CLIENT_ID=your-client-id
OAUTH_CLIENT_SECRET=your-client-secret
OAUTH_AUTHORIZATION_URL=https://your-glpi.example.com/oauth/authorize
OAUTH_TOKEN_URL=https://your-glpi.example.com/oauth/token
OAUTH_REDIRECT_URI=http://localhost:8080/callback

# GLPI API Configuration
GLPI_API_URL=http://localhost:8080/apirest.php
GLPI_APP_TOKEN="Your GLPI app token"
GLPI_USER_TOKEN= user_token GLPI user token

# LLM Configuration (for document processing)
# Option 1: OpenAI
#LLM_PROVIDER=openai
#OPENAI_API_KEY=your-openai-api-key
#OPENAI_MODEL=gpt-4-turbo-preview

# Option 2: Anthropic
LLM_PROVIDER=anthropic
ANTHROPIC_MODEL="claude-sonnet-4-5"
ANTHROPIC_API_KEY="your api anthropic"
CLAUDE_API_URL=https://api.anthropic.com/v1/messages


# Option 3: Local LLM (Ollama)
# LLM_PROVIDER=ollama
# OLLAMA_BASE_URL=http://localhost:11434
# OLLAMA_MODEL=llama2

# Server Configuration
LOG_LEVEL=INFO
TOKEN_STORAGE_PATH=~/.glpi-mcp/tokens.json

# Set up transport method with MCP Server, it could be streamable-http, stdio, sse
MCP_TRANSPORT=streamable-http
# Set up host and port for the MCP Server, in this case all host can connect with MCP Server
MCP_HOST=0.0.0.0
MCP_PORT=8081

# Folders list to access as root/resources and process invoices and contracts
GLPI_ALLOWED_ROOTS = /home/gokushan/Documentos/facturas, /home/gokushan/Documentos/contratos1, /home/gokushan/Documentos/contratos2
# Type files to process 
GLPI_ALLOWED_EXTENSIONS= pdf,txt,doc,docx