services:
  glpi-mcp-server:
    build: .
    ports:
      - "8081:8081"
    env_file:
      - .env
    volumes:
      - /home/gokushan/Documentos/facturas:/home/gokushan/Documentos/facturas
      - /home/gokushan/Documentos/contratos1:/home/gokushan/Documentos/contratos1
      - /home/gokushan/Documentos/contratos2:/home/gokushan/Documentos/contratos2
    restart: unless-stopped
